@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 50px;
}
.item img {
    width: 150px;
    height: 100%;
}

.item {
    padding: 30px;
    margin: 10px;
    border-radius: 1em;
    box-shadow: 1px 1px 5px rgba(1, 1, 1, 0.3);
}

.itemPage{
    margin: 40px;
    gap: 50px;
}


.inputCount{
    width: 40px;
}
.inputCount:focus{
    border: none;
    outline: none;
}

.addToCart{
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: orangered;
    padding: 10px 20px;
    border-radius: 1em;
}
.checkOutPanel{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.subTotalSection{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.cartPage{
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.cartItem{
    flex: 1;
    padding: 20px;
    box-shadow: 2px 2px 2px rgba(1, 1, 1, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.cartItem img{
    width: 60px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
  }

#lblCartNoCount {
      font-size: 12px;
      background: none;
      color: none;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px; 
}
#lblCartCount {
        font-size: 12px;
        background: #ff0000;
        color: #fff;
        padding: 0 5px;
        vertical-align: top;
        margin-left: -10px; 
}

.itemQuantity{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    gap: 20px;
    color: gray;
}
.itemQuantity span {
    color: black;
}

.emptyCart{
    padding:50px 20px;
    text-align: center;
}